.header {
  &__variant {
    margin: 0 25px;
    ul {
      display: inline-flex;
      align-items: center;
      list-style: none;
      gap: 4px;
      li {
        font-family: 'Inter';
        font-weight: 600;
        font-size: 15px;
        color: #ffffff;
        padding: 4px 17px;
        border-radius: 16px;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        &.active {
          background-color: #9fe870;
          color: #000000;
          &:hover {
            background-color: #9fe870;
          }
        }
        &:hover {
          cursor: pointer;
          background-color: rgba(#9fe870, 0.2);
        }
      }
    }
  }
}
