.button {
  display: inline-flex;
  justify-content: center;
  background: none;
  border: none;
  background-color: #9fe870;
  padding: 10px 30px;
  color: #000;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 22px;
  border-radius: 14px;
  &_lg {
    padding: 10px 40px;
    border-radius: 30px;
    font-family: 'Clash Display';
    font-size: 36px;
    font-weight: 600;
    color: #000000;
    border: none;
    @media screen and (max-width: 600px) {
      font-size: 28px;
    }
  }
  &_circle {
    padding: 0;
    background: #1e1c1c;
    color: #ffffff;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    align-items: center;
    @media screen and (max-width: 600px) {
      width: 55px;
      height: 55px;
    }
    svg {
      width: 50%;
      height: 50%;
    }
  }
  &_outlined {
    background: none;
    color: #fff;
    padding: 7px 30px;
    border: 3px solid #fff;
  }
  &_outlined-dark {
    background: none;
    padding: 7px 30px;
    border: 3px solid #000000;
    color: #000000;
  }
}
