.advantages {
  &__container {
    display: flex;
    gap: 60px;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }
  &__col {
    flex: 1;
  }
  &__buttons {
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
    flex-wrap: wrap;
    @media screen and (max-width: 500px) {
      justify-content: center;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
}

.advantage {
  background-color: #d7d7d7;
  border-radius: 10px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 600px) {
    min-height: 260px;
  }
  gap: 15px;
  color: #161618;
  text-decoration: none;
  transition: background-color 0.4s ease-in-out;
  &:hover {
    background-color: #9fe870;
    .advantage__button {
      text-decoration: underline;
    }
  }
  &__title {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
  }
  &__text {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    @media screen and (min-width: 600px) {
      flex: 1;
    }
  }
  &__button {
    display: inline-flex;
    align-items: center;
    background: none;
    border: none;
    gap: 6px;
    color: inherit;
  }
}
