.about {
  &__body {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 60px;
    gap: 20px;
    flex-wrap: wrap;
  }
}

.about-item {
  display: inline-flex;
  min-width: 300px;
  flex: 1;
  border-radius: 50px;
  background-color: #d9d9d9;
  padding: 60px 30px;
  flex-direction: column;
  gap: 14px;
  color: #111111;
  font-family: 'Clash Display';
  text-align: center;
  &__title {
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
    @media screen and (max-width: 1024px) {
      font-size: 60px;
    }
    @media screen and (max-width: 600px) {
      font-size: 48px;
    }
  }
  &__text {
    font-size: 28px;
    line-height: 1.15;
    font-weight: 500;
    @media screen and (max-width: 1024px) {
      font-size: 24px;
    }
  }
}
