.control {
  margin: 0;
  padding: 120px 0;
  background-color: #000000;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  img {
    max-width: 100%;
  }
}
